.register {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.register-form-container {
    width: 40%;
    margin: 0 auto;
}

.register-button-container {
    padding-top: 10px;
    width: 40%;
    margin: 0 auto;
}

.have-an-account-text {
    text-align: center;
    cursor: pointer;
}
